.calc{
    width: 400px;
    height: 600px;
    background-color: gray;
    margin-left: 600px;
}
#screen{
    width: 80%;
    height: 50px;
    margin-left: 36px;
    margin-top: 40px;
    pointer-events: none;
}
.but{
    /* padding: 40px; */
    width: 55px;
    height: 70px;
    margin-left: 30px;
    margin-top: 20px;
}